<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
</style>

<%
const curruser = locals.curruser || null;
%>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listing">
      <i class="fa-regular fa-compass"></i>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left Side -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explore</a>
      </div>

      <!-- Right Side -->
      <div class="navbar-nav ms-auto align-items-md-center">

        <!-- Search -->
        <form
          class="d-flex flex-column flex-md-row me-md-3 my-2 my-md-0"
          role="search"
        >
          <input
            class="form-control mb-2 mb-md-0 me-md-2 search-inp"
            type="search"
            placeholder="Search destination"
            aria-label="Search"
          >

          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>
        </form>

        <!-- My Bookings -->
        <% if (curruser) { %>
          <a class="nav-link" href="/bookings/my">
            My Bookings
          </a>
        <% } %>

        <!-- Add Listing -->
        <a class="nav-link" href="/listing/new">
          Airbnb your home
        </a>

        <!-- Authentication -->
        <% if (!curruser) { %>

          <a class="nav-link" href="/signup">
            <b>Signup</b>
          </a>

          <a class="nav-link" href="/login">
            <b>Login</b>
          </a>

        <% } else { %>

          <a class="nav-link" href="/logout">
            <b>Logout</b>
          </a>

        <% } %>

      </div>

    </div>

  </div>
</nav>