<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>Create new listing</h3>
    
    <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Enter catchy title" class="form-control"  required >
    <div class="invalid-feedback">Enter suitable title</div>
    </div>
        
    <!-- <div class="mb-3">
         <label for="image" class="form-label">image</label>
        <input type="text" name="listing[image][url]" placeholder="Enter img url" class="form-control" id="">
    <div class="invalid-feedback">Enter image  URl</div>
    </div> -->
    
 


    <div class="mb-3">
        <label for="description" class="form-label" >description</label>
        <textarea name="listing[description]" placeholder="Enter Description"  class="form-control" required></textarea>
        <div class="invalid-feedback">Enter short description</div>   
    </div>
    
    <div class="mb-3">
    <label for="image" class="form-label">upload listing Image </label>
    <input type="file" name="listing[image]" class="form-control"  required>
   
</div>
    
<div class="mb-3">
    <label for="imageFilename" class="form-label">Filename</label>
    <input type="text" name="listing[image][filename]" placeholder="Enter filename" class="form-control">
</div>


        <div class="row ">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
        <input type="text" name="listing[price]"  placeholder="1200"  class="form-control"   required>
        <div class="invalid-feedback">Enter Price</div>
    </div>

         <div class="mb-3 col-md-8">
         <label for="country" class="form-label"  >country</label>
        <input type="text" name="listing[country]" placeholder="India" class="form-control"   required>
         <div class="invalid-feedback">Enter country name</div>
    </div>
    </div>


        <div class="mb-3">
             <label for="location" class="form-label">location</label>
        <input type="text" name="listing[location]" placeholder="Jaypur ,Rajasthan"  class="form-control" id=""  required>
        <div class="invalid-feedback">Enter correct location</div>
   
    </div>
  
    <button class="btn btn-dark add-btn">Add</button>
    <br><br>
    </form>
    </div>
    </div>
    
</body>
